@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito', sans-serif;
}

.primary-btn{
    background-color: #FD6698;
    font-size: 23px;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #2EBEEF;
}
.log-btn{
    background-color: #2EBEEF;
    font-size: 18px;
    color: white;
    padding: 0px 15px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.log-btn:hover{
    background-color:#FD6698 ;
}

.tab-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2EBEEF;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.tab-btn:focus{
    background-color: #FD6698;
}
.tab-btn:active{
    background-color: #FD6698;
}

.toyDetails-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD6698;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.toyDetails-btn:hover{
    background-color: #2EBEEF;
}
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2EBEEF;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 120px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #FD6698;
}